In [ ]:
#DecisionTree Classifier

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn import tree

In [3]:
data=pd.read_csv('Datasets/pacific.csv')
data.head()

,ID,Name,Date,Time,Event,Status,Latitude,Longitude,Maximum Wind,Minimum Pressure,...,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,EP011949,UNNAMED,19490611,0,,TS,20.2N,106.3W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,EP011949,UNNAMED,19490611,600,,TS,20.2N,106.4W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,EP011949,UNNAMED,19490611,1200,,TS,20.2N,106.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,EP011949,UNNAMED,19490611,1800,,TS,20.3N,107.7W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,EP011949,UNNAMED,19490612,0,,TS,20.4N,108.6W,45,-999,...,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [ ]:
#2.DataWrangling

In [5]:
pred_columns=data[:]
#pred_columns

In [6]:
pred_columns.drop(['ID','Name','Date','Time','Event','Status','Latitude','Longitude'],inplace=True,axis=1)
pred_columns.head()

C:\Users\azart\AppData\Local\Temp\ipykernel_29104\1406943641.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pred_columns.drop(['ID','Name','Date','Time','Event','Status','Latitude','Longitude'],inplace=True,axis=1)

,Maximum Wind,Minimum Pressure,Low Wind NE,Low Wind SE,Low Wind SW,Low Wind NW,Moderate Wind NE,Moderate Wind SE,Moderate Wind SW,Moderate Wind NW,High Wind NE,High Wind SE,High Wind SW,High Wind NW
0,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
1,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
2,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
3,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999
4,45,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999,-999

In [7]:
#list of input columns
input_columns=list(pred_columns)
input_columns

['Maximum Wind',
 'Minimum Pressure',
 'Low Wind NE',
 'Low Wind SE',
 'Low Wind SW',
 'Low Wind NW',
 'Moderate Wind NE',
 'Moderate Wind SE',
 'Moderate Wind SW',
 'Moderate Wind NW',
 'High Wind NE',
 'High Wind SE',
 'High Wind SW',
 'High Wind NW']

In [9]:
# sns.countplot(data['Status'],label='count')
# plt.show()

In [ ]:
#Spliting the data into training and testing

In [10]:
train,test=train_test_split(data,test_size=0.3)

In [11]:
#Relevant columns for training
train_X=train[input_columns]
train_Y=train['Status']

In [12]:
#Relvant Columns for testing
test_X=test[input_columns]
test_Y=test['Status']

In [13]:
#Model
model=tree.DecisionTreeClassifier()

In [14]:
#Training the model
model.fit(train_X,train_Y)
predicition=model.predict(test_X)

In [15]:
#Accuracy measurment for the model
metrics.accuracy_score(test_Y,predicition)

0.9557510839071666

In [16]:
d=pd.DataFrame({'predicated_value':predicition,'KnownO/P':test_Y})
d

      predicated_value KnownO/P
10366               TS       TS
23674               TS       TS
756                 TS       TS
16906               TD       EX
20746               LO       LO
...                ...      ...
19579               TD       TD
25428               HU       HU
14204               TS       TS
20044               TD       LO
25754               TD       TD

[7842 rows x 2 columns]

In [21]:
tree.export_graphviz(model, out_file='decision_tree.dot', feature_names=input_columns)

In [18]:
from sklearn.datasets import load_iris
from sklearn import tree

In [19]:
clf = tree.DecisionTreeClassifier()
iris = load_iris()

In [20]:
clf = clf.fit(iris.data, iris.target)
tree.export_graphviz(clf)

'digraph Tree {\nnode [shape=box, fontname="helvetica"] ;\nedge [fontname="helvetica"] ;\n0 [label="x[3] <= 0.8\\ngini = 0.667\\nsamples = 150\\nvalue = [50, 50, 50]"] ;\n1 [label="gini = 0.0\\nsamples = 50\\nvalue = [50, 0, 0]"] ;\n0 -> 1 [labeldistance=2.5, labelangle=45, headlabel="True"] ;\n2 [label="x[3] <= 1.75\\ngini = 0.5\\nsamples = 100\\nvalue = [0, 50, 50]"] ;\n0 -> 2 [labeldistance=2.5, labelangle=-45, headlabel="False"] ;\n3 [label="x[2] <= 4.95\\ngini = 0.168\\nsamples = 54\\nvalue = [0, 49, 5]"] ;\n2 -> 3 ;\n4 [label="x[3] <= 1.65\\ngini = 0.041\\nsamples = 48\\nvalue = [0, 47, 1]"] ;\n3 -> 4 ;\n5 [label="gini = 0.0\\nsamples = 47\\nvalue = [0, 47, 0]"] ;\n4 -> 5 ;\n6 [label="gini = 0.0\\nsamples = 1\\nvalue = [0, 0, 1]"] ;\n4 -> 6 ;\n7 [label="x[3] <= 1.55\\ngini = 0.444\\nsamples = 6\\nvalue = [0, 2, 4]"] ;\n3 -> 7 ;\n8 [label="gini = 0.0\\nsamples = 3\\nvalue = [0, 0, 3]"] ;\n7 -> 8 ;\n9 [label="x[2] <= 5.45\\ngini = 0.444\\nsamples = 3\\nvalue = [0, 2, 1]"] ;\n7 -> 9 ;\n10 [label="gini = 0.0\\nsamples = 2\\nvalue = [0, 2, 0]"] ;\n9 -> 10 ;\n11 [label="gini = 0.0\\nsamples = 1\\nvalue = [0, 0, 1]"] ;\n9 -> 11 ;\n12 [label="x[2] <= 4.85\\ngini = 0.043\\nsamples = 46\\nvalue = [0, 1, 45]"] ;\n2 -> 12 ;\n13 [label="x[0] <= 5.95\\ngini = 0.444\\nsamples = 3\\nvalue = [0, 1, 2]"] ;\n12 -> 13 ;\n14 [label="gini = 0.0\\nsamples = 1\\nvalue = [0, 1, 0]"] ;\n13 -> 14 ;\n15 [label="gini = 0.0\\nsamples = 2\\nvalue = [0, 0, 2]"] ;\n13 -> 15 ;\n16 [label="gini = 0.0\\nsamples = 43\\nvalue = [0, 0, 43]"] ;\n12 -> 16 ;\n}'

In [ ]:
# paste the binary file O/P in http://www.webgraphviz.com/